aiofiles==24.1.0
aiokafka==0.10.0
annotated-types==0.7.0
astor==0.8.1
async-timeout==4.0.3
attrs==23.2.0
bandit==1.7.9
blinker==1.8.2
click==8.1.7
confluent-kafka==2.4.0
darglint==1.8.1
docutils==0.21.2
eradicate==2.3.0
flake8==7.1.0
flake8-bandit==4.1.1
flake8-broken-line==1.0.0
flake8-bugbear==24.4.26
flake8-commas==2.1.0
flake8-comprehensions==3.15.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.5.0
flake8-isort==6.1.1
flake8-quotes==3.4.0
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0
Flask==3.0.3
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
orjson==3.9.13
packaging==24.1
pbr==6.0.0
pep8-naming==0.13.3
priority==2.0.0
pycodestyle==2.12.0
pydantic==2.6.1
pydantic-settings==2.0.2
pydantic_core==2.16.2
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.18.0
python-dotenv==1.0.1
PyYAML==6.0.1
Quart==0.19.6
restructuredtext_lint==1.4.0
rich==13.7.1
snowballstemmer==2.2.0
stevedore==5.2.0
typing_extensions==4.12.2
uvicorn==0.27.0.post1
wemake-python-styleguide==0.19.2
Werkzeug==3.0.1
wsproto==1.2.0
